@charset "utf-8";

body {
	color: #666666;
	background-color: #f9f8f6;
	background-image: url("../Image/Bali-FI-1.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;}

.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;}

header {
	height: 160px;
	background-image: url("../Image/Kuta-Resort.jpg");}
			
h1 {
	text-indent: 0px;
	width: 940px;
	height: 130px;
	margin: 0px;
	text-align: center;
	color: azure;}
			
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #7569A4;
	height: 30px;}
			
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;}
			
nav li {
	display: inline;
	margin-right: 40px;}
			
nav li a {
	color: #ffffff;}
			
nav li a:hover, nav li a.current {
	color: #000000;}
			
section.courses {
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;}
			
article {
	clear: both;
	overflow: auto;
	width: 100%;}
			
hgroup {
	margin-top: 40px;}
			
figure {
	float: left;
	width: 290px;
	height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}

img {
	border-radius: 12px;}
			
figcaption {
	font-size: 100%;
	text-align: left;
	font-variant: small-caps;}

p {
	text-align: center;
}
			
aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;}
			
aside section a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;}
			
aside section a:hover {
	color: #8C61B7;
	background-color: #efefef;}
			
a {
	color: #de6581;
	text-decoration: none;}
			
h1, h2, h3, h5 {
	font-weight: normal;}
			
h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;
	text-align: left;}
			
h3 {
	text-align: center;
	color: #000000;}
			
aside h2 {
	padding: 30px 0px 10px 0px;
	color: #de6581;}
			
			
footer {
	font-size: 80%;
	text-align: center;
	padding: 1px 0px 11px 20px;}

input[type=text], select, textarea {
	width: 100%;
	padding: 9px;
	border: 2px solid #E3D6F8;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;}

.buttonsubs{
	height: 30px;
	background-color: #A362F5;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;}

input[type=button] {
	background-color: #A362F5;
	color: white;
	padding: 1px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;}

input[type=button]:hover {
	background-color: #45a049;}
